* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #242D39;
}

nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 209px 0px 134px;
}

.navigation {
    list-style-type: none;
    display: flex;
}

.navigation a {
    text-decoration: none;
    font-size: 17.5px;
    color: #E5E7EB;
    padding-left: 26px;

}


.logo {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 800;
}


.hero {
    background-color: #242D39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 122px 209px 133px 134px;

}

.hero-text {
    color: #F9FAF8;
}

.hero-text h1 {
    font-weight: 800;
    font-size: 48px;
}

.hero-text p {
    font-size: 18px;
    margin: 0px 0 20px 0;
    color: #E5E7EB;
}

.hero-image {
    background-color: #6C737C;
    padding: 120px 135px 100px;
}

.hero-image p {
    color: #F9FAF8;
    text-wrap: nowrap;
    font-size: 17.5px;
}

.sign-up {
    background-color: #3882F6;
    text-decoration: none;
    color: #F9FAF8;
    padding: 8px 40px;
    border-radius: 0.5rem;
}

.square {
    border: #3882F6 solid;
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 0.75rem;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.text-square p {
    width: 150px;
    text-align: center;
    margin-top: 10px;
    color: #1F2937;
}

.info h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 36px;
    color: #1F2937;
}

.boxes {
    margin-bottom: 100px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 100px 0px;
}

.quote-wrap {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.quote-wrap p {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    padding: 0px 45px;

}

.quote-wrap span {
    font-weight: 500;
    font-size: 25px;
    padding-right: 75px;
    text-align: right;
}

.cta-background {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}

.cta-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px;
    width: 1000px;
    border-radius: 0.5rem;
}

.cta-text {
    color: #F9FAF8;
}

.cta-button {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 700;
    border: #F9FAF8 solid;
    border-radius: 0.5rem;
    padding: 7px 30px;
}

footer {
    background-color: #242D39;
    padding: 40px 0px;
}

.footer-text {
    color:#F9FAF8;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}